*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  height: 400vh;
  width:600px;
  border: 2px solid rgb(234, 206, 171);
  background-color: rgb(234, 206, 171) ;
  border-radius: 30px;
  outline: none;
}
.input{
  margin-left: 80px;
  margin-top: 80px;
  border: 2px solid rgb(238, 210, 176);
  background-color: beige;
}
.container input{
  height: 42px;
  width: 440px;
  padding-left: 30px;
  border-radius: 50px;
}
.submit{
  height: 39px;
  width: 80px;
  border-radius: 50px;
  position: absolute;
  margin-top: 82px;
  margin-left: -80px;
  background-color: rgb(50, 47, 47);
  color: aliceblue;
  border: 2px solid rgb(50, 47, 47);
}
.product{
  margin-top: 30px;
  margin-left: 80px;
}
li{
  list-style-type:none;
  background-color: beige;
  width: 440px;
  height: 40px;
  /* padding-left: 30px; */
  align-items: center;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  font-family: sans-serif;
}
.close{
  height: 40px;
  width: 50px;
  margin-left: 380px;
  border-radius: 50px;
  background-color: rgb(50, 47, 47);
  color: aliceblue;
  border: 2px solid rgb(50, 47, 47);
  position: absolute;
}